<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>บัญชีผู้ใช้</title>
    <link rel="stylesheet" href="./Yolo_style2.css">
    <link rel="stylesheet" href="./Yolo_nav_style.css">
</head>
<body>
    <%- include('edit_page_nav'); %>
    <div class="container">
        
    </div>
</body>
</html>