<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dental Clinic</title>
    <link rel="stylesheet" href="../tiger_style.css">
    <link rel="stylesheet" href="../nav.css">
</head>
<body>
    <%- include("nav") %>

    <div class="container">
        <section class="hero">
            <h1>การดูแลทางทันตกรรมที่คุณวางใจได้</h1>
            <p>จองนัดหมายวันนี้เพื่อรอยยิ้มที่สดใสยิ่งขึ้น!</p>
            <button class="btn">จองเลย!</button>
        </section>

        <section class="services">
            <h1>บริการของพวกเรา</h1>
            <div class="grid">
                    <% data.forEach(item => { %>
                        <div class="service-card">
                            <h2><%= item.name %></h2>
                            <%= item.description %>
                        </div>
                    <% }); %>
            </div>
        </section>
    </div>

    <footer>
        <h2>เกี่ยวกับเรา</h2>
        <p>โทรติดต่อเราเพื่อทำการนัดหมาย</p>
        <p><strong>+1 234 567 890</strong></p>
    </footer>
</body>
</html>
