<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../nav.css">
</head>
<body>
    <nav>
        <h1 class="logoText">Manaw</h1>
    
        <div class="bookshelf">
            <img src="./img/login.png" alt="login_icon">
            <a href="./auth/login">เข้าสู่ระบบ</a>
        </div>
        
    </nav>
</body>
</html>
