<nav>
    <h1 class="logoText">Manaw</h1>

    <div class="bookshelf">
        <img src="/img/bell.png" alt="bell_icon">
        <h1 class="username"><%= username %></h1>
        <a href="/logout">ออกจากระบบ</a>
    </div>
</nav>
