/* รีเซ็ตค่าเริ่มต้น */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background: #ffffff;
    padding-top: 60px;
}

.container {
    max-width: 900px;
    margin: 20px auto;
    background: #DBEAFE;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.header h1 {
    text-decoration: underline;
}

.search-box {
    display: flex;
    gap: 10px;
}

.search-box input {
    padding: 8px;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 30px;
}

.search-btn {
    padding: 8px;
    background: #3498db;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.appointment-table {
    width: 100%;
    border-collapse: collapse;
}

.appointment-table th, .appointment-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}
.appointment-table td {
    background-color: #ffffff;
}
.appointment-table th {
    background: #3498db;
    color: white;
}

.edit-btn, .delete-btn {
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.edit-btn {
    background: #f1c40f;
    border-radius: 50px;
}

.delete-btn {
    background: #e74c3c;
    color: white;
    border-radius: 50px;
}
