* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background: #3498db;
    padding-top: 8%;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    background: white;
    padding: 17%;
    border-radius: 8px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}
