<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>รายการนัดหมาย</title>
    <link rel="stylesheet" href="./styles/history.css">
</head>
<body>
    <div class="history-container">
        <div class="header">
            <a href="/home"><button class="back-button">←</button></a>
        </div>
        <div class="header-section">
            <div class="title-section">
                <h1 class="title">รายการนัดหมาย</h1>
            </div>
            <div class="search-container">
                <div class="search-box-wrapper">
                    <input
                        type="text"
                        placeholder="search"
                        class="search-input"
                    >
                </div>
            </div>
        </div>

        <div class="table-section">
            <div class="table-container">
                <table class="history-table">
                    <thead>
                        <tr>
                            <th>บริการ</th>
                            <th>สถานะ</th>
                            <th>วัน-เวลานัดหมาย</th>
                            <th>บันทึกเพิ่มเติม</th>
                            <th>ค่าบริการ</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% appointments.forEach(appointment => { %>
                            <% if (appointment.state_id == 1 || appointment.state_id == 2) { %>
                                <tr>
                                    <td><%= appointment.service_name %></td>
                                    <td><%= appointment.appointment_status %></td>
                                    <td><%= appointment.date %></td>
                                    <td><%= appointment.note %></td>
                                    <td></td>
                                </tr>
                            <% }; %>
                        <% }); %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>